<div class="CARD">
  <div class="CARD {{suit.name}} CARD-eight">
    <div class="corner top">
      <span class="number">8</span>
      <span>{{{suit.symbol}}}</span>
    </div>
    <span class="suit top_left">{{{suit.symbol}}}</span>
    <span class="suit top_right">{{{suit.symbol}}}</span>
    <span class="suit middle_left">{{{suit.symbol}}}</span>
    <span class="suit middle_top">{{{suit.symbol}}}</span>
    <span class="suit middle_right">{{{suit.symbol}}}</span>
    <span class="suit middle_bottom">{{{suit.symbol}}}</span>
    <span class="suit bottom_left">{{{suit.symbol}}}</span>
    <span class="suit bottom_right">{{{suit.symbol}}}</span>
    <div class="corner bottom">
      <span class="number">8</span>
      <span>{{{suit.symbol}}}</span>
    </div>
  </div>
</div>