<div class="card">
  <div class="{{suit.name}} card-five">
    <div class="corner top">
      <span class="number">5</span>
      <span>{{{suit.symbol}}}</span>
    </div>
    <span class="suit top_left">{{{suit.symbol}}}</span>
    <span class="suit top_right">{{{suit.symbol}}}</span>
    <span class="suit middle_center">{{{suit.symbol}}}</span>
    <span class="suit bottom_left">{{{suit.symbol}}}</span>
    <span class="suit bottom_right">{{{suit.symbol}}}</span>
    <div class="corner bottom">
      <span class="number">5</span>
      <span>{{{suit.symbol}}}</span>
    </div>
  </div>
</div>